figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 450px;
    margin: auto;
}

img {
    max-width: 450px;
    max-height: 750px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a {
    background-color: tomato;
    color: yellow;
}